<div>
    <h2 id="page-heading">
        <span jhiTranslate="marketApp.proveedor.home.title">Proveedors</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-proveedor" [routerLink]="['/proveedor/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="marketApp.proveedor.home.createLabel">
            Create a new Proveedor
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="proveedors?.length === 0">
        <span jhiTranslate="marketApp.proveedor.home.notFound">No proveedors found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="proveedors?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstName"><span jhiTranslate="marketApp.proveedor.firstName">First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastName"><span jhiTranslate="marketApp.proveedor.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="marketApp.proveedor.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phoneNumber"><span jhiTranslate="marketApp.proveedor.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="zona"><span jhiTranslate="marketApp.proveedor.zona">Zona</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="manager.id"><span jhiTranslate="marketApp.proveedor.manager">Manager</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let proveedor of proveedors ;trackBy: trackId">
                    <td><a [routerLink]="['/proveedor', proveedor.id, 'view']">{{ proveedor.id }}</a></td>
                    <td>{{ proveedor.firstName }}</td>
                    <td>{{ proveedor.lastName }}</td>
                    <td>{{ proveedor.email }}</td>
                    <td>{{ proveedor.phoneNumber }}</td>
                    <td>{{ proveedor.zona }}</td>
                    <td>
                        <div *ngIf="proveedor.manager">
                            <a [routerLink]="['/producto', proveedor.manager?.id, 'view']" >{{ proveedor.manager?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/proveedor', proveedor.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/proveedor', proveedor.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(proveedor)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
