<div class="row">
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome!</h1>

        <p class="lead" jhiTranslate="home.subtitle">homepage</p>

    </div>
    <div class="col-md-12">
        <span class="hipster img-fluid rounded"></span>
    </div>
</div>
<h1 class="display-4" style="margin-top: 20px" jhiTranslate="home.nuestro">Nuestros products locales</h1>
<div class="row">
    <div *ngFor="let producto of productos; " style="margin: 2px" class="card col-md-3">
        <img style="height: 150px" class="card-img-top" src="../../content/images/mangoes.jpg"
             alt="Imagen del Product">
        <div class="card-body">
            <h4 class="card-title">{{producto.name}}</h4>
            <span class="card-text" jhiTranslate="home.producto.precio"></span>: {{producto.price}}
            <br>

            <span class="card-text" jhiTranslate="home.producto.descripcion"></span>: {{producto.description}}
           <br>
            <a href="#" class="btn btn-primary" jhiTranslate="home.producto.comprar">See Profile</a>
        </div>
    </div>

</div>
